= simple_form_for @recipe do |form|
  = form.input :name
  = form.input :preparation_time, label: 'Preparation time (minutes)'
  = form.input :difficulty, placeholder: 'easy, medium, hard'
  = form.file_field :image
  %br
  %br
  = form.button :submit, class: 'btn btn-success'
