= simple_form_for @recipe do |form|
  = form.input :name
  = form.input :preparation_time
  = form.input :difficulty
  = form.file_field :image
  %br
  %br
  = form.button :submit, class: 'btn btn-success'
