%h1= @recipe.name

= render 'form', recipe: @recipe

%h1= 'Products'

%table
  %tr
    %td Name
    %td Weight (grams)
    %td
  %tr
    - @recipe.recipe_ingredients.each do |ri|
      %tr
        %td= ri.product.name
        %td= ri.weight
  %tr
    = simple_form_for :recipe_ingredient, :url => add_products_recipe_path, method: :post, class: 'table-striped' do |form|
      %td
        = form.input :product_id, collection: Product.all.map { |p| [p.id, p.to_s]},label_method: :second, value_method: :first, label: false
      %td
        = form.input :weight, label: false
      %td
        = form.button :submit, class: 'btn btn-success'
