%h1= @recipe.name

= render 'form', recipe: @recipe

%h1= 'Add products'


= simple_form_for :product, :url => add_products_recipe_path, method: :post, class: 'table-striped' do |form|
  %table
    %tr
      %td Name
      %td Weight
      %td
    %tr
      %td
        = form.input :name, collection: ['sol', 'pieprz'], label: false
      %td
        = form.input :weight, label: false
      %td
        = form.button :submit, class: 'btn btn-success'
