%h1 Products:

%table{:border => 1}
  %tbody
    %tr
      %th Name
      %th Calories
      %th Carbohydrates
      %th Protein
      %th Fat
    - @products.each do |products|
      %tr
        %td= products.name
        %td= products.calories
        %td= products.carbohydrates
        %td= products.protein
        %td= products.fat

- if user_signed_in?
  = link_to 'Add product', new_product_path, class: 'button'
