%h1 Product

%table{:border => 1}
  %tbody
    %tr
      %th Name
      %th Calories
      %th Carbohydrates
      %th Protein
      %th Fat

      %tr
        %td= @product.name
        %td= @product.calories
        %td= @product.carbohydrates
        %td= @product.protein
        %td= @product.fat

= link_to 'Back', products_path

= link_to 'Edit', edit_product_path(@product)
